<form method="post" action="/posts/<%= @post.id %>">
    <input type="hidden" name="_method" value="put">
    <textarea cols="40" rows="5" name="post[title]" value=""><%= @post.title %></textarea>
    <input type="submit" value="Submit edit">
</form>
